*{
	margin: 0;
	padding: 0;
}


.map-feature *{
	margin: 0;
	padding: 0;
}
.map-feature{
	display: flex;
	box-sizing: border-box;
  justify-content: center;
  align-items: center;
	background: #ffffff;
  padding: 70px 0;
}
.map-feature .map-feature-left-block{
  max-width: 500px;
}
.map-feature .map-feature-right-block{
	max-width: 650px;
}
.map-feature .map-feature-left-block h1{
	font-family: "Varela Round", sans-serif;
	color: #26272d;
	font-size: 42px;
}
.map-feature .map-feature-left-block .map-feature-text-block{
	margin: 50px 0; 
}
.map-feature .map-feature-left-block .map-feature-text-block p{
	font-family: "Lato", sans-serif;
	color: #8c8f94;
	font-size: 20px;
	line-height: 1.2em;
}
.map-feature-text-block p:first-child{
	margin-bottom: 30px;
}
.map-feature .map-feature-left-block h2{
	font-size: 12px;
	font-family: "Lato", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #26272d;
	margin-bottom: 15px;
}
.map-feature .map-feature-right-block img{
	width: 100%;
}



.ready-to-buy{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	background: #f5f5f8;
	padding: 100px 0;
	max-width: 1160px;
	margin: auto;
}
.ready-to-buy h3 {
  font-size: 12px;
  color: #aeaeb4;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.ready-to-buy h2{
	font-size: 42px;
	color: #3a3d4b;
	font-family: "Varela Round", sans-serif;
	font-weight: 900;
}
.ready-to-buy .ready-to-buy-form{
  display: block;
  padding: 3px;
  border: 1px solid #cbcbce;
  border-radius: 50px;
  height: 50px;
  width: 500px;
  position: relative;
  margin: 50px 0 60px 0;
}
.ready-to-buy .ready-to-buy-form input:focus {
  outline: none;
}
.ready-to-buy .ready-to-buy-form .ready-to-buy-form-area{
	border: none;
	background: #f5f5f8;
  display: inline-block;
  padding-left: 15px;
  width: calc(100% - 169px);
  box-sizing: border-box;
  height: 100%;
  border-radius: 50px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}
.ready-to-buy .ready-to-buy-form .ready-to-buy-form-btn{
	border-radius: 25px;
	border: none;
	background: #6fc754;
	color: #ffffff;
  height: 100%;
  width: 165px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  padding-right: 25px;
  cursor: pointer;
  transition: .5s;
}
.ready-to-buy .ready-to-buy-form .ready-to-buy-form-btn:hover{
	background: #888;
}
.ready-to-buy .ready-to-buy-form:after{
	content: url('../img/ready-to-buy/ready-to-buy-arrow.png');
	position: absolute;
	top: 53%;
	transform: translateY(-50%);
	right: 25px;
}
.ready-to-buy p{
	font-family: "Lato", sans-serif;
}
.ready-to-buy .ready-to-buy-p-block{
	text-transform: uppercase;
  color: #c9c9ce;
  font-size: 12px;
}
.ready-to-buy .ready-to-buy-apple-btn{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  width: 210px;
  height: 60px;
  border-radius: 60px;
  background: #000;
  box-sizing: border-box;
  padding-left: 70px;
  text-decoration: none;
  color: #fff;
  font-size: 23px;
  position: relative;
  transition: .5s;
  margin-top: 20px;
}
.ready-to-buy .ready-to-buy-apple-btn:hover{
	background: #323232;
}
.ready-to-buy .ready-to-buy-apple-btn:before{
	content:url('../img/ready-to-buy/ready-to-buy-apple-logo.png');
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 25px;
}
.ready-to-buy .ready-to-buy-apple-btn p:first-child{
	font-size: 12px;
}




.plan{
	font-family: "Lato", sans-serif;
	padding: 140px 0;
	background: #f4f4f5;
}
.plan .plan-wrap{
  margin: 0 auto;
  max-width: 1160px;
}
.plan .plan-left{
	width: 40%;
	margin-right: 8%;
}
.plan .plan-left h1{
	padding-top: 40px;
	color: #26272d;
	font-size: 42px;
	margin-bottom: 65px;
}
.plan .plan-left p{
	font-size: 20px;
	color: #8c8f94;
	line-height: 1.2em;
}
.plan .plan-left .plan-left-p-style{
	font-size: 12px;
	font-weight: 900;
	color: #26272d;
	margin-bottom: 20px;
}
.plan .plan-left .plan-left-p-small-style{
	font-size: 14px;
	margin-top: 40px;
}
.plan .plan-left .plan-left-p-small-style a{
	font-size: 14px;
	color: #267df4;
}
.plan-tumblers{
	display: flex;
	width: 260px;
	height: 50px;
	padding: 3px;
	box-sizing: border-box;
	font-size: 16px;
	border-radius: 50px;
	border: 1px solid #d5d6d7;
	margin-bottom: 70px;
}
.plan-tumblers a{
	border-radius: 50px;
	height: 100%;
	line-height: 40px;
	width: 50%;
	text-align: center;
	display: block;
	text-decoration: none;
	color: #a0a2a3;
	transition: .5s;
}
.plan-tumblers a:hover{
	box-shadow: 0px 10px 20px 1px #000;
}
.plan .plan-tumblers-active{
	background: #fff;
	color: #000;
	box-shadow: 0px 10px 20px 1px #000;
}
.plan-sub-block{
	display: flex;
}
.plan .plan-left h1{
	font-family: "Varela Round", sans-serif;
}
.plan .plan-right{
	width: 50%;
	display: flex;
	justify-content: space-around;
	background: #ebebed;
	border-radius: 20px;
}
.plan-right-block{
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 0 30px;
  border-radius: 20px;
  transition: .5s;
}
.plan-right-block h1{
	font-size: 32px;
	color: #26272d;
	font-weight: 400;
	margin-bottom: 30px;
	padding-top: 50px;
}
.plan-right-block .plan-price{
	font-size: 11px;
	color: #26272d;
	width: 65px;
	height: 25px;
	text-align: center;
	border: 1px solid #d4d4d5;
	border-radius: 25px;
	font-weight: 700;
	line-height: 23px;
	margin-bottom: 50px;
	transition: .5s;
}
.plan-right-block .plan-price:hover{
	background: #000;
	color: #fff;
}
.plan-right-block p{
	font-size: 20px;
	color: #8c8f94;
	margin-bottom: 50px;
}
.plan-right-block li{
	list-style: none;
	margin-bottom: 20px;
}
.plan-right-block li span{
	position: relative;
}
.plan-right-block li span:before{
	content: url('../img/plan/plan-checked.png');
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -20px; 
}
.plan-right-block .plan-right-block-btn{
	position: absolute;
	bottom: 30px;
	font-size: 16px;
	color: #267df4;
	text-align: center;
	text-decoration: none;
	border: 1px solid #267df4;
	width: 200px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 40px;
	transition: .5s;
}
.plan-right-block .plan-right-block-btn:hover{
	background: #267df4;
	color: #fff;
}
.plan-right-block-active{
	transform: scale(1.2);
  background: #fff;
  position: relative;
  z-index: 50;
  box-shadow: 0px 10px 20px 1px #000;
}
.plan-right-block.plan-right-block-active .plan-right-block-btn{
	background: #267df4;
	color: #fff;
}
.plan-right-block.plan-right-block-active .plan-right-block-btn:hover{
	background: #64A5FF;
}


@media screen and ( max-width: 1250px ){
	.plan .plan-left{
		padding-left: 20px;
		margin-right: 3%;
	}
	.map-feature .map-feature-left-block{
   	padding-left: 7%; 
	}
}

@media screen and ( max-width: 1050px ) {
	.plan-sub-block{
		display: block;
	}
	.plan .plan-left{
    width: 100%;
    display: flex;
    flex-flow: column;
    margin-bottom: 60px;
    align-items: center;
    justify-content: center;
    text-align: center;
	}
	.plan .plan-right{
    width: 95%;
    margin: auto;
	}
	.plan .plan-right > *{
		width: 42%;
	}
	.plan-right-block{
		padding: 0;
	}
	.plan-right-block ul{
		padding-bottom: 100px;
	}
}
@media screen and ( max-width: 920px ) {
	.map-feature{
		display: block;
	}
	.map-feature .map-feature-left-block{
		max-width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column;
		margin-bottom: 20px;
		text-align: center;
		padding: 0 20px;
	}
	.map-feature .map-feature-right-block{
		max-width: 100%;
	}
}
@media screen and ( max-width: 700px ) {
	.plan .plan-right > *{
		width: 80%;
		display: none;
		transition: .5s;
	}
	.plan .plan-right .plan-right-block.plan-right-block-active{
		display: flex;
	}
}
@media screen and ( max-width: 550px ) {
	.ready-to-buy h2{
		text-align: center;
	}
	.ready-to-buy .ready-to-buy-form{
		width: 350px;
	}
	.ready-to-buy .ready-to-buy-form .ready-to-buy-form-area{
		width: calc(100% - 148px);
	}
	.ready-to-buy .ready-to-buy-form .ready-to-buy-form-btn{
    width: 144px;
	}
	.plan .plan-left{
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
	}
}
@media screen and ( max-width: 390px ) {
	.ready-to-buy .ready-to-buy-form{
		width: 300px;
	}
}