* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
} 

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 25px;
}

/* header */ 

header {
    padding-top: 60px;
    /* background: url('..//img/header/header-bg.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}



.header-menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu-container {
    font-family:  'Lato', sans-serif;
    display: flex;
    align-items: center;
}

.header-menu-container h1 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22px;
}

strong {
    font-weight: 900;
}

.header-menu-container li {
    margin-right: 40px;
}

.header-menu-container a:hover {
    color: #9f9fa1;
    transition: 0.3s;

}

.header-getapp-button-wrapper {
    width: 135px;

}

.header-getapp-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #267df4;
    color: #fff;
    border-radius: 20px;
    width: 135px;
    height: 43px;
    vertical-align: middle;
}

.header-getapp-button:hover {
    background: #fff;
    color: #267df4;
    border: 1px solid #267df4;
}

.header-getapp-button:hover svg {
    stroke: rgb(38, 125, 244);
}

.header-getapp-button svg {
    margin-right: 15px;
}

.header-info-wrapper {
    margin-top: 132px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-heading {
    font-family: 'Varela Round', sans-serif;
    font-size: 62px;
}

.header-heading-text{
    margin-top: 40px;
    font-family:  'Lato', sans-serif;
    font-size: 20px;
    max-width: 785px;
    line-height: 26px;
    color: #8c8f94;
}

.header-watch-button {
    margin-top: 62px;
    margin-bottom: 515px;
    border: 1px solid #dadcde;
    width: 205px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-family:  'Lato', sans-serif;
}

.header-watch-button svg {
    margin-right: 15px;
}

.header-watch-button:hover {
    background: #267df4;
    color: #fff;
    transition: 0.3s;
}

.header-watch-button:hover svg {
    fill: #fff;
    filter: invert(1) sepia(1);
}

.header-phone {
    position: absolute;
    bottom: 0;
    z-index: 1;
    margin: 0 auto;
}

/* burger menu */

#menu__toggle {
    opacity: 0;
}
@media (max-width: 960px) {

    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 30px;
        right: 25px;
        width: 36px;
        height: 36px;
        cursor: pointer;
        z-index: 1;
    }
    
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000;
    }
    
    .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
    
      .menu__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #f4f4f5;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
      }

      .menu__item {
        display: block;
        padding: 12px 24px;
        color: #000;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
      }
      .menu__item:hover {
        color: #00e0d0;
      }
    
      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
        
      }
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        transition-duration: .25s;
      }
      .menu__box {
        transition-duration: .25s;
      }
      .menu__item {
        transition-duration: .25s;
      }
      .header-menu-container {
          flex-direction: column;
      }
      .header-getapp-button {
          color: #fff;
      }
      .header-getapp-button svg {
          display: none;
      }
      .header-watch-button {
        background: #267df4;
        color: #fff;
      }
}


/* features */

.features {
    padding: 125px 0;
}
.features-wrapper {
    display: flex;
    justify-content: space-between;
}

.features-col-6-12 {
    display: flex;
    flex-direction: column;
}

.features-heading {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 26px;
    color: #26272d;
    margin-top: 45px;
}

.features-text {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #8c8f94;
    margin-top: 40px;
    max-width: 495px;
}

@media (max-width: 960px) {
    .features-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .features-img-clock {
        margin-top: 125px;
    }
}