*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*****************************************************/
/*****************************************************/
.iphone-feature {}

.iphone-feature-container {
    max-width: 1600px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    padding-top: 86px;
    padding-bottom: 42px;
}


.iphone-feature-img{}

.iphone-feature-big-img {
    margin-left: -130px;
    margin-right: 50px;
    max-width: 100%;
    height: auto;
    display: block;
}


.iphone-feature-description {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    margin-left: 52px;
    margin-bottom: 191px;
    margin-top: 35px;
}

.iphone-feature-text {}
.iphone-feature-text__title {
    max-width: 240px;
    color: rgb(38, 39, 45);
    font-family: "Varela Round", sans-serif;
    font-size: 42px;
    font-weight: 400px;
    line-height: 50px;
    margin-bottom: 73px;
}

.iphone-feature-text__paragraph {
    max-width: 470px;
    color: rgb(140, 143, 148);
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 400px;
    line-height: 24px;
    margin-bottom: 35px;
    padding-right: 5px;
    padding-left: 5px;
}

.iphone-feature-buttons {
    margin-top: 33px;
    display: flex;
}

.iphone-feature-button1 {
    display: flex;
    align-items: center;
    padding-right: 19px;
    padding-left: 26px;
    border-radius: 100px;
    background-color: rgb(38, 125, 244);
    margin-right: 20px;

}


.iphone-feature-button1__text {
    color: rgb(255, 255, 255);
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400px;
    margin-right: 46px;
} 

.iphone-feature-button1__icon {
    width: 13px;
    height: 12px;
    color: rgb(255, 255, 255);
    margin-right: 3px;
    margin-top: 4px;
}
.iphone-feature-button2 {
    padding: 14px 60px 15px 60px;
    border-radius: 21px;
    border: 1px solid #26272d1a;
    border-radius: 100px;
    background-color: rgb(255, 255, 255);
}

.iphone-feature-button2__text {
    color: rgb(38, 39, 45);
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400px;
}


/*****************************************************/
/*****************************************************/



.customers {}
.customers-container {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

/*****************************************************/
.customers-slider {
    background-color: rgba(201, 75, 190, 0.541);

    color: rgb(140, 143, 148);
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 400px;
    line-height: 28px;
}
.splide .splide__track .splide__list{
    display: flex;
}
/***************************************************/
.customer-description {
    max-width: 554px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.customer-description__title {
    color: rgb(38, 39, 45);
    font-family: "Lato", sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 38px;
    margin-top: 45px;
    margin-bottom: 48px;
}

.customer-description__paragraph {
    color: rgb(140, 143, 148);
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 400px;
    line-height: 28px;
    margin-bottom: 30px;
}

.customer-description-stars {
    display: flex;
    justify-content: center;
    margin-bottom: 68px;
}

.customer-description-stars__item {
    margin-right: 4px;
    margin-left: 4px;
}
.customer-description-name{
    color: rgb(38, 39, 45);
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 800px;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 28px;
}

/*****************************************************/
/*****************************************************/
/*****************************************************/
/*****************************************************/
/*****************************************************/
/*****************************************************/
/*****************************************************/
/*****************************************************/
/*****************************************************/
/*********************MEDIA***************************/

@media screen and (max-width: 350px) {
    .iphone-feature-container{
        max-width: 350px;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        padding-top: 20px;
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 350px) {
    .iphone-feature-img{
        padding-left: 0;
    }
}
@media screen and (max-width: 350px) {
    .iphone-feature-big-img {
        margin-left: 0px;
        margin-right: 0px;
        max-width: 100%;
        height: auto;
        display: block;
    }
}
@media screen and (max-width: 350px) {
    .iphone-feature-description {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        margin-top: 5px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 350px){
    .iphone-feature-text__title {
        max-width: 346px;
        color: rgb(38, 39, 45);
        font-family: "Varela Round", sans-serif;
        font-size: 30px;
        font-weight: 400px;
        line-height: 20px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 350px) {
    .iphone-feature-text__paragraph {
        max-width: 348px;
        color: rgb(140, 143, 148);
        font-family: "Lato", sans-serif;
        font-size: 15px;
        font-weight: 400px;
        line-height: 18px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width:350px) {
    .iphone-feature-buttons {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:350px) {
    .iphone-feature-button1 {
        display: flex;
        align-items: center;
        padding: 14px 31px 15px 32px;
        border-radius: 100px;
        background-color: rgb(38, 125, 244);
        margin-right: 0;
        margin-bottom: 10px;
    }
}
@media screen and (max-width:350px) {
    .iphone-feature-button1__text {
        color: rgb(255, 255, 255);
        font-family: "Lato", sans-serif;
        font-size: 18px;
        font-weight: 400px;
        margin-right: 46px;
    }
}
@media screen and (max-width:350px) {
    .iphone-feature-button2 {
        display: flex;
        align-items: center;
        text-align: center;
        padding: 14px 71px 15px 71px;
        border-radius: 21px;
        border: 1px solid #26272d1a;
        border-radius: 100px;
        background-color: rgb(255, 255, 255);
        margin-bottom: 10px; 
    }
}

@media screen and (max-width:350px) {
    .iphone-feature-button2__text {
        color: rgb(38, 39, 45);
        font-family: "Lato", sans-serif;
        font-size: 18px;
        font-weight: 400px;
    }
}



















@media screen and (max-width: 1270px) {
    .iphone-feature-container{
        max-width: 1270px;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 1270px) {
    .iphone-feature-img{
        padding-left: 200px;
    }
}
@media screen and (max-width: 1270px) {
    .iphone-feature-description {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        margin-left: 0;
        margin-bottom: 0;
        margin-top: 0;
    }
}

@media screen and (max-width: 1270px){
    .iphone-feature-text__title {
        max-width: 1270px;
        color: rgb(38, 39, 45);
        font-family: "Varela Round", sans-serif;
        font-size: 30px;
        font-weight: 400px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    
}

















@media screen and (max-width: 1470px) {
    .iphone-feature-container{
        max-width: 1470px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1470px) {
    .iphone-feature-img{
        margin-left: -130px;
        margin-right: 0px;
        max-width: 100%;
    }
}
@media screen and (max-width: 1470px) {
    .iphone-feature-description {
        margin-left: 100px;
        margin-bottom: 191px;
        margin-top: 35px;
        padding-right: 5px;
        text-align: center;
        align-items: center;

    }
}









/***************************************************************/


/***************************************************************/


/***************************************************************/


/***************************************************************/


/***************************************************************/


/***************************************************************/


/***************************************************************/


/***************************************************************/


/***************************************************************/





@media screen and (max-width:350px) {
    .customers-container {
        max-width: 350px;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
@media screen and (max-width:472px) {
    .customers-container {
        max-width: 472px;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 35px;
        padding-bottom: 35px;
    }
}

@media screen and (max-width:350px) {
    .customer-description {
        max-width: 350px;
        text-align: center;
        margin: 0 5px;
    }
}
@media screen and (max-width:472px) {
    .customer-description {
        max-width: 472px;
        text-align: center;
        margin: 0 5px;
    }
}

@media screen and (max-width:350px) {
    .customer-description__title {
        color: rgb(38, 39, 45);
        font-family: "Lato", sans-serif;
        font-size: 25px;
        font-weight: 300;
        line-height: 30px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width:472px) {
    .customer-description__title {
        color: rgb(38, 39, 45);
        font-family: "Lato", sans-serif;
        font-size: 28px;
        font-weight: 300;
        line-height: 30px;
        margin-top: 25px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width:350px) {
    .customer-description__paragraph {
        color: rgb(140, 143, 148);
        font-family: "Lato", sans-serif;
        font-size: 16px;
        font-weight: 400px;
        line-height: 20px;
        margin-bottom: 15px;
    }
}
@media screen and (max-width:472px) {
    .customer-description__paragraph {
        color: rgb(140, 143, 148);
        font-family: "Lato", sans-serif;
        font-size: 18px;
        font-weight: 400px;
        line-height: 25px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:350px) {
    .customer-description-stars {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
}
@media screen and (max-width:472px) {
    .customer-description-stars {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:350px) {
    .customer-description-name{
        color: rgb(38, 39, 45);
        font-family: "Lato", sans-serif;
        font-size: 10px;
        font-weight: 800px;
        line-height: 20px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
}
@media screen and (max-width:472px) {
    .customer-description-name{
        color: rgb(38, 39, 45);
        font-family: "Lato", sans-serif;
        font-size: 10px;
        font-weight: 800px;
        line-height: 20px;
        text-transform: uppercase;
        margin-bottom: 22px;
    }
}